<h1>My First Rails Girls</h1>
  <div>
    <h2>Jelena Radovic</h2>
    <h3>Univerzitet u Beogradu, Fizički fakultet
    <div>
      <p>"Sky was never the limit. Only to those can't stomach the thought of the infinite."</p>
      <p></p>
      <img src="https://thefilmstage.com/wp-content/uploads/2014/10/interstellar_blackhole.png" height="500" width="900" />
    </div>
      <a href="http://www.expecteverything.eu/hypatia">Project</a>
    <h2>HTML</h2>
      <p>To learn more about HTML</p>
      <a href="http://www.w3schools.com/html/">Visit HTML tutorial</a>
    <h2>Find me</h2>
      <a href=https://github.com/jeleradovic/railsgirls>Github</a>
      
      <a href=https://www.instagram.com/jeleradovic/>Instagram</a>
      <a href="mailto:radovicj95@gmail.com">Send me an email</a>
      <a href="https://www.facebook.com/jeleradovic">Facebook</a>
  </div> 